body nav {
    background-color: #9AC00F;

}

nav{
    background-color:black
}

nav div  img{
    height: 80px;
    width: 80px;

}
nav ul li a{
    font-size: 18pt;
}
}
.carrousel{
    height: 500px;
    width: 80%;
    background-color: #9AC00F;
}

.barra nav ul li a{
    font-size: 13pt;
}


.noticias{
    overflow:hidden;

}

.noticias div {
    border: #9AC00F 1px solid;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box 100px;
  width:400px;
  height: 400px;
  float:left;
  margin-left:2.5%;
box-sizing:border-box;
font-size: 15pt;
  }

.noticias div img{
    height: 40px;
    width: 40px;
}
#post{
    width: 200px;
    height: 100px;
}

#post img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;

}
.pie nav ul li a{
    font-size: 13pt;
    
}


#encabezado-registro{
    background-color: #9AC00F;
    height: 132px;
}

header p{
    display: inline;
}

.formulario .row{
background-color: #9AC00F;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
margin-top: 100px;
padding: 15px;
justify-content: center;
text-align: right;     
}

header .registro div img{
max-width:100%; 
height:auto;

}

