div.row {
    margin: 0px 0px;
    padding: 0px 0px;
  }
  
  
  
  body nav , .contenedorLogin{
      background-color: #9AC00F;
  }
  
  nav{
      background-color:black;
  }
  
  nav div img{
      height: 80px;
      width: 80px;
  
  }
  nav ul li a{
      font-size: 18pt;
  }
  
  .carrousel{
      height: 500px;
      width: 80%;
  }
  
  #chat{
    background-color: rgb(224, 247, 224);
    height: 30px;
      width: 100%;
       box-sizing: border-box;
      overflow:hidden;
     
  
  }
   .personaChat, .personaChat2{
    float:left;
    margin: 5px;
    
    box-sizing: border-box;
   }
  
  #chat img{
    height: 20px;
      width: 20px;
  }
  
  .barra nav ul li a{
      font-size: 13pt;
  }
  
  
  .noticias{
      overflow:hidden;
  
  }
  
  .noticias div {
    border: #9AC00F 1px solid;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box 100px;
    width:400px;
    height: 400px;
    float:left;
    margin-left:2.5%;
    box-sizing:border-box;
    font-size: 15pt;
    overflow:hidden;
    background-color: rgb(224, 247, 224);
    }
  
  .noticias div img{
      height: 40px;
      width: 40px;
  }
  #post{
    border: none;
    margin: 0.5px;
    width:100%;
    height: 250px;
    float:left;
    box-sizing:border-box;
  }
  
  #iconos{
    border: none;
    width: 100%;
    height: 50px;
    margin: 1px;
    overflow:hidden;
  }
   #meGusta, #compartir{
    float:left;
    background: none;
    border: none;
  
   }
  
  #post img{
      width: 100%;
      height:100%;
  
  }
  .pie nav ul li a{
      font-size: 13pt;
  
  }
  
  /* aca comienza el encabezado*/
  #encabezado-registro{
      background-color: #9AC00F;
      height: 132px;
  }
  
  header p{
      display: inline;
  }
  
  .formulario .row{
  background-color:rgba(93, 232, 107,0.5);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  margin-top: 50px;
  padding: 15px;
  
  
  
  }
  
  
  /*aca empieza el perfil*/
  
  header .registro div img{
  max-width:100%;
  height:auto;
  
  }
  
  .imagen-fondo-perfil img{
      width: 100vw;
      height: 400px;
      margin-left: 0%;
      margin-right: 0%;
  
  }
  
  
  
  main .perfil{
      background-color: #9AC00F;
      
  
      margin-top: -100px;
  
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
  
  }
  
  .fotito-de-perfil img{
      background-color: blue;
      border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  height: 200px;
  z-index: 15;
  margin-top: -40;
  z-index: 15;
  margin-bottom: 20px;
  }
  
  
  div .posteos .img{
      width: 220px;
      height: 220px;
  
  }
  
  div .posteos{
      margin-bottom: 10px;
  }
  
  footer{
      background-color:  #9AC00F;
      height: 80px;
      margin: 0;
      padding: 0;
  }
  
  @media (max-width:900px){
    .imagen-fondo-perfil img{
      display: none;
  }
  
  }
  
  body.perfil{
    background-image: url(../imagenes/fondo2ab.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: unset;
  }
  
  /*aca termina el perfil*/
  /*Aca empieza el CSS del login*/
  
  
  .containerLogin, .containerContacto{
  
    background-image: url(../imagenes/fondo2ab.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: unset;
  }
  
  .BienvenidoLogin{
    font-style:bold;
    text-align: center;
    font-size: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Hind', sans-serif;
    text-align: center;
    color: rgb(36, 197, 122);
    /*text-shadow: 5px 3px  #9AC00F;*/
  
  }
  
  .Loguearme{
    color:  white;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
  }
  
  .recordar{
    color: green;
  
  }
  
  .derechos{
    text-align: center;
    font-size: 22px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Hind', sans-serif;
    color: green;
    /*text-shadow: 2px 2px  #9AC00F;*/
  
  }
  .img1login{
    width: 15%;
    margin-right:40%;
    margin-left: 40%;
    border-radius: 40px;
    border-style: solid;
    border-width: 10px;
    border-color:green;
    box-shadow:  5px 3px  #9AC00F;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  @media(max-width: 900px){.img1login{
    
    width: 30%;
    height: 30%;
    margin-right: 35%;
    margin-left: 35%;
  
  }}
  
  
  
  .btn-primary{
    background-color: green;
    border-color: #9AC00F;
  }
  
  .form-text{
    text-align: center;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Hind', sans-serif;
  
  }
  
  
  
  
  /*-------------Aca empieza el CSS del FAQ---------------------*/
  
  body .flecha{
    text-align: right;
    margin: 0px, 0px, 0px, 0px;
  }
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .faq{
    background-image: url(../imagenes/fondo2ab.png);
    background-size: cover;
    width: 100%;
  
  }
  .categorias{
    font-size: 25px;
    padding-top: 50px;
  
  }
  .categorias div{
    margin-bottom: 35px;
  }
  .categorias div a{
    color: rgb(127, 158, 13);
  }
  .signo img{
    width: 200px;
  }
  img{
    width: 100%;
  }
  .cuestionario{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(154, 192, 15, 0.4);
  }
  .flecha img{
    height: 30px;
    width: 20px;
  }
  .elemento{
    display: block;
  }
  h4{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .cuestionario{
    margin-bottom: 10px;
  }
  .viñeta{
    color: green;
  }
  @media (min-width: 1200px){
    .container{
      max-width: 100%;
    }
  }
  @media (max-width: 768px){
    .signo{
      display: none;
    }
  }
  
  form div h4, p{
    text-align: center;
  }
  
  form textarea{
    width: 100%;
<<<<<<< HEAD
    color: grey;
    font-style: italic;
    text-align: left;
  }
  
  form button{
    box-align: right;
  }
  
  .boton-unite{
  
    width: 100%;
    background-color: green;
    color:  white;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
   
  }
  
  .inscripcion{
    width: 100%;
    margin-right: 0px;
    margin-left:0px;
    padding-right: 0px;
    padding-left: 0px;
=======
    height:100%;

}
.pie nav ul li a{
    font-size: 13pt;

}

@media(max-width:768px){
  .carrousel{
    display: none;
  }
}

/* aca comienza el encabezado*/
#encabezado-registro{
    background-color: #9AC00F;
    height: 132px;
}

header p{
    display: inline;
}

.formulario .row{
background-color:rgba(93, 232, 107,0.5);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
margin-top: 50px;
padding: 15px;



}


/***********aca empieza el perfil************/

header .registro div img{
max-width:100%;
height:auto;
}

.imagen-fondo-perfil img{
    width: 100vw;
    height: 400px;
    margin-left: 0%;
    margin-right: 0%;

}

.banner{
  position:relative;
  z-index: -999;
  display: flex;
  justify-content: center;
}
.imagen-fondo-perfil{
  width: auto;
}

.imagen-fondo-perfil img{
  width: 100%;
  height: 300px;
}
body.perfil{
  background-image: url(../imagenes/fondo2ab.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: unset;
}
main .perfil{
    background-color: #9AC00F;
    margin-top: -100px;
    width: 100%;
}

.fotito-de-perfil img{
    background-color: blue;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;
height: 200px;
z-index: 15;
margin-top: -40;
z-index: 15;
margin-bottom: 20px;
}


div .posteos .img{
    width: 220px;
    height: 220px;
}

.row .fotito-de-perfil img{
    border-radius: 250px;
    border: 0px solid #000000;
    width: 70%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.fotito-de-perfil{
  display: flex;
  justify-content: center;
}

.posteos .col-md-4{
    margin-bottom: 30px;
    margin-bottom: 30px;
    height: 150px;
}
#posteos img{
    width: 100%;
    height:100%;

}
footer{
    background-color:  #9AC00F;
    height: 80px;
    margin: 0;
    padding: 0;
}

@media (max-width:900px){
  .imagen-fondo-perfil img{
    display: none;
}

}
@media (max-width:768px){
  main.perfil{
    margin-top: 100px;
  }

}


@media (min-width: 768px) {
  .perfil .fotito-de-perfil{
      margin left:0px;
      align: center;
  }
}
@media (min-width: 1024px){
  .imagen-fondo-perfil .banner img{


  }
}



/*******aca termina el perfil*********/
/*Aca empieza el CSS del login*/


.containerLogin, .containerContacto{

  background-image: url(../imagenes/fondo2ab.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: unset;
}

.BienvenidoLogin{
  font-style:bold;
  text-align: center;
  font-size: 50px;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Hind', sans-serif;
  text-align: center;
  color: rgb(36, 197, 122);
  /*text-shadow: 5px 3px  #9AC00F;*/

}

.Loguearme{
  color:  white;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
}

.recordar{
  color: green;

}

.derechos{
  text-align: center;
  font-size: 22px;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Hind', sans-serif;
  color: green;
  /*text-shadow: 2px 2px  #9AC00F;*/

}
.img1login{
  width: 15%;
  margin-right:40%;
  margin-left: 40%;
  border-radius: 40px;
  border-style: solid;
  border-width: 10px;
  border-color:green;
  box-shadow:  5px 3px  #9AC00F;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media(max-width: 900px){.img1login{

  width: 30%;
  height: 30%;
  margin-right: 35%;
  margin-left: 35%;

}}



.btn-primary{
  background-color: green;
  border-color: #9AC00F;
}

.form-text{
  text-align: center;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Hind', sans-serif;

}




/*-------------Aca empieza el CSS del FAQ---------------------*/

body .flecha{
  text-align: right;
  margin: 0px, 0px, 0px, 0px;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
}
.faq{
  background-image: url(../imagenes/fondo2ab.png);
  background-size: cover;
  width: 100%;

}
.categorias{
  font-size: 25px;
  padding-top: 50px;

}
.categorias div{
  margin-bottom: 35px;
}
.categorias div a{
  color: rgb(127, 158, 13);
}
.signo img{
  width: 200px;
}
img{
  width: 100%;
}
.cuestionario{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(154, 192, 15, 0.4);
}
.flecha img{
  height: 30px;
  width: 20px;
}
.elemento{
  display: block;
}
h4{
  margin-top: 40px;
  margin-bottom: 40px;
}
.cuestionario{
  margin-bottom: 10px;
}
.viñeta{
  color: green;
}
@media (min-width: 1200px){
  .container{
    max-width: 100%;
>>>>>>> 8d60dc0740bd1b4677c2cd955879f8de07743aa7
  }
  
  .input-registro{
    width: 80%;
  }
  
  .imagen-registro-corazon{
    width: 170px;
  }
  
  @media(max-width:768px){.imagen-registro-corazon{
    display: none;
  }
  }
  