.{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}
nav{
    background-color:black
    height: 60px;
    
}

nav ul{
    list-style-type: none;
}


.carrousel{
    background-color: gray;
    height: 240px;
}

.noticias{
    height: 400px;
    background-color: aqua;
}